body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
  }
  #my-image{
    height: 10rem;
    display: flex;
    width: fit-content;
    border-radius: 5rem;
  }
  header div{
    margin: 0;
    padding: 2rem 0 0rem 2rem
  }
  header h1 {
    /* margin: 0; */
    /* padding: 2rem 0 0rem 2rem */
    /* align-content: center; */
  }
  
